/*Навигационная панель------------------------------------------------------------------------------------------------------------------------------------

1.nav-panel-list - навигационный список
2.nav-item - навигациооная элемент
3.nav-link - навигациооная ссылка
4.nav-icon - навигациооная иконка
*/

.navigation-panel{
  margin-top: 60px;
}

.nav-panel-list {
  width: 175px;
}

.nav-item {
  min-height: 28px;
  width: 165px;
  height: 28px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  color: #2e2e2e;
}

.nav-link:hover {
  background-color: #ffffff;
  color: #2787f5;
}

.nav-icon {
  height: 62%;
  margin: 0 5px;
}

/*Раздельтельная черта-----------------------------------------------------------------------------------------------------------------------------------
*/

.dividing-lines-container {
  
  width: 100%;
  height: 10px;
  display: inline-block;
}

.dividing-line {
  width: 137px;
  height: 1px;
  margin: 5px 0;
  margin-left: 28px;
  border: none;
  background-color: rgba(46, 46, 46, 0.212);
}


/*Центральная панель-------------------------------------------------------------------------------------------------------------------------------------
*/

.central-panel {
  margin-top: 60px;
  width: 230px;
  height: 100%;
}

.wrap{
  margin: 10px;

}

.c-panel-avatar {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.canvas{
  background-color: #6d6d6d62;
  width: 210px;
  height: 333px;
  margin: 10px 10px;
}

.settings{
  background-color: #2787f5;
  width: 210px;
  height: 35px;
  margin: 10px 10px;
}

.btn-settings{
  display: inline-block;
  height: 35px;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.c-panel-list-friends {
  margin-top: 15px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: inline-block;
}

.c-friends-button{
  background-color: #9ebce962;
  display: flex;
  
  height: 25px;
  color: #a0a0a0;
}

.c-friends-item{
  background-color: #9ebce962;
  height: 50px;
  text-align: center;
  margin: auto;
}
.c-friends-list{
  background-color: #9ebce962;
  margin-top: 10px;
  height: 200px;
  width: 100%;
 
}
.c-freind-n{
  background-color: #0dc25286;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50px;
}
/*Панель информации-------------------------------------------------------------------------------------------------------------------------------------
*/

.right-panel {
  margin-top: 60px;
  width: 555px;
  height: 100%;
}

.panel-info {
  background-color: #ffffff;
  width: 100%;
  display: inline-block;
  margin: 15px;
}

.top-info{
  background-color: #9ebce962;
  height: 50px;
}

.r-item-name{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.r-item-status{
  font-size: 12px;
}
.central-info{
  background-color: #9ebce962;
  height: 80px;
}

.bottom-info{
  background-color: #9ebce962;
}

.bottom-info{
 display: flex;
}

.unicount{
  height: 50px;
  width: 50px;
  margin: auto;
  background-color: #0dc25286;
}

.new-post{
  height: 80px;
  width: 100%;
  background-color: #fff;
  margin-top: 15px;
}
.wall{
  height: 1000px;
  width: 100%;
  background-color: #fff;
  margin-top: 15px;
}