/*Навигационная панель------------------------------------------------------------------------------------------------------------------------------------

1.nav-panel-list - навигационный список
2.nav-item - навигациооная элемент
3.nav-link - навигациооная ссылка
4.nav-icon - навигациооная иконка
*/

.navigation-panel{
  margin-top: 60px;
}
.nav-panel-list {
  width: 175px;
}

.nav-panel-list a:hover {
  background-color: hsla(0, 0%, 0%, 0.05);
  color: rgb(255, 255, 255);
}

.nav-item {
  min-height: 28px;
  width: 165px;
  height: 28px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  color: #2e2e2e;
}

.nav-icon {
  height: 62%;
  margin: 0 5px;
}

/*Раздельтельная черта-----------------------------------------------------------------------------------------------------------------------------------
*/

.dividing-lines-container {
  margin: 5px 0;
  width: 100%;
  height: 10px;
}

.dividing-line {
  width: 137px;
  height: 1px;
  margin: 5px 0;
  margin-left: 28px;
  border: none;
  background-color: rgba(46, 46, 46, 0.212);
  align-items: center;
}

/*Центральная панель-------------------------------------------------------------------------------------------------------------------------------------
*/

.central-panel {
  margin-top: 60px;
  width: 230px;
  height: 100%;
}

.с-panel-avatar {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  display: flex;
}

/* Высота блока зависит*/
.test1{
  background-color: #1100ff;
  width: 210px;
  height: 333px;
  margin: 10px 10px;
}

.с-panel-friends {
  background-color: rgb(66, 72, 88);
  width: 100%;
  height: 300px;
  margin: 10px 0;
}

/*Панель информации-------------------------------------------------------------------------------------------------------------------------------------
*/

.right-panel {
  margin-top: 60px;
  width: 555px;
  height: 100%;
}

.panel-info {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.02);
  width: 100%;
  height: 232px;
}
